.right-box{
    background: #EFF3F6;
}
.pageinfo-top{
    padding:25px 20px 0px;
}
.pageinfo-top .el-row{
    padding-bottom: 20px;
}
.pageinfo-top .grid-content{
  height:120px;  
  background: #ffffff;
  border: 1px solid #E2E2E2;
}
.pageinfo-top .grid-content .info-icon{
    display: block;
    width:60px;
    height:60px;
    margin: 0px auto 0px;
}
.pageinfo-top .grid-content i.info-user{
  background-position: -152px -114px;
}
.pageinfo-top .grid-content i.info-yetcharge{
  background-position: -152px -202px;
}
.pageinfo-top .grid-content i.info-yesbusiness{
    background-position: -152px -387px;
}
.pageinfo-top .grid-content i.info-chong{
    background-position: -152px -298px;
}
.pageinfo-top .grid-content i.info-tui{
    height:64px;
    background-position: -152px -22px;
}
.pageinfo-top .info-top-lf{
    box-sizing: border-box;
    padding-top:30px;
    width:30%;
    float: left;
}
.pageinfo-top .info-top-rt{
    width:70%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding:15px 0 0 50px;
    text-align: left;
}
.pageinfo-top .info-top-rt span{
   width:100%;
   display: block;
   width:100%;
   overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
   padding:0px 0px 10px;
}

.pageinfo-top .info-top-rt span.infotext-top{
  color: #706A6A;
  font-size:16px; 
}

.pageinfo-top .info-top-rt span.infotext-center{
  color:#19AC4D;
  font-size:20px; 
  min-height:26px; 
}

.pageinfo-top .info-top-rt span.infotext-bottom{
    color:#706A6A;
    font-size:12px; 
}
/******功能区*****/
.page-funcarea{
  background: #ffffff;
}
/***中间tab页****/
.pageinfo-tab{
    padding:0 20px 20px;
}
.pageinfo-tab ul li{
    padding:0 22px;
    cursor: pointer;
    float: left;
    font-size:14px;
    color: #706A6A;
    line-height: 36px;
    border-right:1px solid #E2E2E2;
    border-top:1px solid #E2E2E2;
    border-bottom:1px solid #E2E2E2;
    background: #ffffff;
}
.pageinfo-tab ul li:first-child{
    border-left:1px solid #E2E2E2;
    border-radius: 6px 0 0 6px;
}
.pageinfo-tab ul li:last-child{
    border-radius: 0px 6px 6px 0px;
}
.pageinfo-tab ul li.active{
  background: #19AC4D;
  color: #ffffff;
}

.pageinfo-chart{
    padding:0 20px;
    height:366px;
    background: #f6f6f6;
}

.page-table-box{
    padding:20px 36px 0;
    margin:0 20px;
    background: #ffffff;
    border:1px solid #E2E2E2;
}
.pagetable-top{
    margin-bottom:10px; 
}
.pagetable-top  .el-button--success{
    background-color: #19AC4D;
    border-color: #19AC4D;
}
.pagetable-top  .el-button--success .iconfont{
    margin-right: 5px;
}
.page-table-box  .el-table th{
    background: #F5F7F9 ;
    color: #706A6A;
    font-weight: 600;
}
/*******表格样式*******/
.right-box .el-table {
  font-size:12px;
}
/**分页****/
.page-table-box .el-pagination button:hover{
    color:#19AC4D;
}
.page-table-box  .el-pagination .btn-prev{
    border:1px solid #E2E2E2;
    border-radius: 4px 0 0 4px;
    padding-right: 6px;
}
.page-table-box  .el-pagination .btn-next{
    border:1px solid #E2E2E2;
    border-radius: 0 4px 4px 0;
    padding-left:6px; 
}
.page-table-box .el-pager li{
    border-top:1px solid #E2E2E2;
    border-bottom:1px solid #E2E2E2;
    border-right:1px solid #E2E2E2;
}
.page-table-box .el-pager li:hover{
    color:#19AC4D;
}
.page-table-box .el-pager li:last-child{
    border-right:0;
}
.page-table-box .el-pager li.active {
    background: #19AC4D;
    color: #ffffff;
    cursor: default;
}
/***时间插件****/
.page-funcarea{
    padding:10px 20px;
    margin-bottom: 20px;
}
.pageFuncarea-ipt{
    margin-left:20px;
    margin-right: 30px;
}
.pageFuncarea-ipt span{
   display:block;
   height:40px;
   line-height: 40px;
   padding-right: 10px;
}
.pageFuncarea-ipt .el-input{
  width:120px;
}
.pageFuncarea-ipt .el-select .el-input{
    width:160px;
}
.pageFuncarea-ipt .el-select > span.el-input__suffix,.pageFuncarea-ipt .el-select > span.el-input__suffix-inner{
    padding-right:0;
}
.pageFuncarea-btn button.el-button--success{
    background:#19AC4D;
}
.pageFuncarea-btn button.el-button--default:focus{
    color:#606266;
    background: #ffffff;
    border-color: #dcdfe6;
}
.pageFuncarea-btn button.el-button--default:hover,.pageFuncarea-btn button.el-button--default:active{
    color:#19AC4D;
    background: #ffffff;
    border-color: #19AC4D;
}
/*************/
.right-box .el-table .el-button--text{
    color: #19AC4D;
}
/****新增卡段弹出层*****/
.addcardseg-box .el-dialog__header{
    background-color: #19AC4D;
 }
 .addcardseg-box .el-dialog__header .el-dialog__title{
    color: #ffffff;
 }
 .addcardseg-box .el-dialog__headerbtn .el-dialog__close{
    color: #ffffff;
 }
 .addcardseg-box .el-dialog__body .el-select{
     width:100%;
 }
 .addcardseg-box .el-dialog__body{
    padding: 30px 20px 20px;
 }
 .dialog-info-text{
    color:#757777;
    font-size: 12px;
 }